<header>
    <div id="main-header">
        <nav id="logo-box">
            <img src="/img/logo1.png" alt="Logo de libros Trukini">
        </nav>
        <nav id="menu-box">
            <ul>
                <li class="button">Libros</li>
                <li class="button">Vinilos</li>
                <li class="button">Cd's</li>
                <li class="button">Locales</li>
                <li class="button">Contacto</li>
            </ul>
        </nav>
    </div>
    <div id="second-header"><h2>Envios gratis a parrtir de lorem ipsuim aljkdla</h2></div>
</header>